* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/0e9f2429-fcf0-4baf-9fd9-d95a14e51dcc.jpg") no-repeat center center/cover;
    color: #fff;
    padding: 40px;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #ffffff;
    letter-spacing: 1px;
}

p {
    max-width: 700px;
    margin: 0 auto 40px;
}

.descricao {
    color: #ffffff;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.7;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, background 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

.card h2 {
    margin-bottom: 10px;
    color: #ffffff;
}